{
  "insecure-registries": ["192.168.1.14:5000","192.168.2.14:443","192.168.2.14:5000"],
  "dns": ["192.168.1.14"],
  "data-root": "{{ container.data }}",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  }
}
