version: '3'

services:
  jupyter:
    build:
      context: .
      args:
        - JUPYTER_PASSWORD=${JUPYTER_PASSWORD}
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_PASSWORD=${JUPYTER_PASSWORD}
