#!/bin/sh

# Check if honeyd configuration file exists
if [ ! -f "/etc/honeyd/honeyd.conf" ]; then
    echo "Honeyd configuration file not found, please mount the configuration file to /etc/honeyd/honeyd.conf"
    exit 1
fi

# Run honeyd with the provided configuration file
exec /usr/local/bin/honeyd -f /etc/honeyd/honeyd.conf
